body {
     background-color: green;
     color: gold;
     font-size: 1em;
     line-height: 1.5em;
     font-size: 1.2em;
 }
header {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
#wrapper {
    margin: 0 auto;
    width: 800px;
    text-align: center; 
    
}
